<mat-card>
  <mat-card-title>
  {{formOptions?.title}}
  </mat-card-title>
  <mat-card-content>
<form class="text-input-form" (submit)="onTextInput()">
  <mat-form-field appearance="fill">
    <mat-label>{{formOptions?.label}}</mat-label>
    <input type="text"
    (input)="onInput()"
    matInput
    [formControl]="formControl!"
    [placeholder]="placeholder">
    <mat-error *ngIf="formControl?.invalid">
      {{getErrorMessage()}}
    </mat-error>
  </mat-form-field>
  <button #submitButton mat-raised-button type="submit" color="primary">Save</button>
</form>
  </mat-card-content>
</mat-card>
